@charset "UTF-8";
@use "sass:math";
@use "sass:map";
@use "sass:string";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";
//@use "bootstrap/scss/functions" as *;


@function str-replace($string, $search, $replace: '') {
  $index: string.index($string, $search);

  @if $index {
    @return string.slice($string, 1, $index - 1) + $replace + str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
  }

  @return $string;
}

@function reverse-list($list, $separator:comma) {
  $reversedList: null;

  @for $i from length($list) to 0 {
    $reversedList: append($reversedList, nth($list, $i), $separator);
  }

  @return $reversedList;
}

@function map-reverse ($map) {
  $result: null;
  @if type-of($map) == "map" {
    $keys: map-keys($map);
    $map-reversed: ();

    @for $i from length($keys) through 1 {
      $map-reversed: map.merge(
                      $map-reversed,
                      (nth($keys, $i): map-get($map, nth($keys, $i)))
      );
    }

    @if type-of($map-reversed) == "map" {
      $result: $map-reversed;
    } @else {
      @warn 'There was an error reversing the order of "#{$map}"';
    }
  } @else {
    @warn '"#{$map}" is not a valid map';
  }

  @return $result;
}


// 2. Include any default variable overrides here
$enable-important-utilities: true;
$display-font-sizes: (
  //1: 5rem,
  //2: 4.5rem,
  //3: 4rem,
  //4: 3.5rem,
  //5: 3rem,
  //6: 2.5rem

  //1: 4rem,
  //2: 3.375rem,
  //3: 2.5rem,
  //4: 2.25rem,
  //5: 1.5rem,
  //6: 1.25rem,

  1: 3.75rem,
  2: 3rem,
  3: 2.5rem,
  4: 2.25rem,
  5: 1.5rem,
  6: 1.25rem,
  7: 1rem,
  8: 0.75rem,
);
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
  "90pct": calc(9 / 10 * 100%),
);


// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
//@use "bootstrap/scss/variables" as *;
//@use "bootstrap/scss/variables-dark" as *;

// 4. Include any default map overrides here

//@function create_kv_map($key, $val) {
//  $map: (
//    $key: $val,
//  );
//  @return $map;
//}

$custom-font-sizes-one: (
  //1: 2rem,
  //2: 1.75rem,
  //3: 1.5rem,
  //4: 1.25rem,
  //5: 1rem,

  1: 1.5rem,
  2: 1.325rem,
  3: 1.25rem,
  4: 1.125rem,
  5: 1rem,
  6: 0.875rem,
  7: 0.75rem,
  8: 0.625rem,
);

//$startPctSiz: 1;
//$endPctSiz: 100;
////$percentSiz-map: (auto: auto, min: min-content, max: max-content, 0: 0);
//$percentSiz-map: ();
//@for $i from $startPctSiz through $endPctSiz {
//  $percentVal: percentage(math.div($i, 100));
//  $percentSiz-map: map.merge($percentSiz-map, ($i: $percentVal));
//}

$startPctSiz: 0;
$endPctSiz: 100;
$pctParts: 8;
$last-j: 0;
$percentSiz-map: ();
@for $i from $startPctSiz through $endPctSiz {
  @for $j from 1 through $pctParts {
    @if ($i < $endPctSiz or $i == $endPctSiz and $j == $pctParts - ($pctParts - 1)) {
      $val: math.div($last-j, $pctParts);
      $pctVal: math.percentage(math.div($val, 100));
      $key: str-replace(#{$val}, '.', '\\.');
      $percentSiz-map: map.merge($percentSiz-map, ($key: $pctVal));
    }
    $last-j: $last-j + 1;
  }
}


$startPxSiz: 1;
$endPxSiz: 1500;
//$pxSiz-map: (auto: auto, min: min-content, max: max-content, 0: 0);
$pxSiz-map: ();
@for $i from $startPxSiz through $endPxSiz {
  $pxVal: $i + px;
  $pxSiz-map: map.merge($pxSiz-map, ($i: $pxVal));
}

$startRem: 0;
$endRem: 10;
$remParts: 8;
$last-j: 0;
$remSiz-map: ();
@for $i from $startRem through $endRem {
  @for $j from 1 through $remParts {
    @if ($i < $endRem or $i == $endRem and $j == $remParts - ($remParts - 1)) {
      $val: math.div($last-j, $remParts);
      $remVal: $val + rem;
      // @debug $i, $j, $val, $last-j, $remVal;
      $key: str-replace(#{$val}, '.', '\\.');
      // @debug $key, $remVal;
      $remSiz-map: map.merge($remSiz-map, ($key: $remVal));
    }
    $last-j: $last-j + 1;
  }
}


$utilities: (
  "width": (
    property: width,
    class: w,
    responsive: true,
    values: (
      0: 0,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
      min: min-content,
      max: max-content,
      fit: fit-content,
    )
  ),
  "max-width": (
    property: max-width,
    class: mw,
    responsive: true,
    values: $percentSiz-map,
  ),
  "min-width": (
    property: min-width,
    class: nw,
    responsive: true,
    values: $percentSiz-map,
  ),
  "height": (
    property: height,
    class: h,
    responsive: true,
    values: (
      0: 0,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
      min: min-content,
      max: max-content,
      fit: fit-content,
    )
  ),
  "wpct": (
    property: width,
    class: wpct,
    responsive: true,
    values: $percentSiz-map,
  ),
  "wpx": (
    property: width,
    class: wpx,
    responsive: true,
    values: $pxSiz-map,
  ),
  "min-wpx": (
    property: min-width,
    class: min-wpx,
    responsive: true,
    values: $pxSiz-map,
  ),
  "max-wpx": (
    property: max-width,
    class: max-wpx,
    responsive: true,
    values: $pxSiz-map,
  ),
  "hpct": (
    property: height,
    class: hpct,
    responsive: true,
    values: $percentSiz-map,
  ),
  "hpx": (
    property: height,
    class: hpx,
    responsive: true,
    values: $pxSiz-map,
  ),
  "min-hpx": (
    property: min-height,
    class: min-hpx,
    //responsive: false,
    values: $pxSiz-map,
  ),
);


$light-green-1: #5BC43A;
$light-green-2: #E7F6E2;
$custom-black-1: #101722;
$font-size-low-base-1: 0.85rem !default;
$font-size-low-base-2: 0.75rem !default;

//$spacers: (
//  0: 0,
//  1: $spacer * .25,
//  2: $spacer * .5,
//  3: $spacer,
//  4: $spacer * 1.5,
//  5: $spacer * 3,
//  6: $spacer * 4,
//  7: $spacer * 5,
//  8: $spacer * 6,
//  9: $spacer * 7,
//  10: $spacer * 8,
//);
$startSpacer: 1;
$endSpacer: 40;
$spacer-map: (0: 0);
@for $i from $startSpacer through $endSpacer {
  $val: math.div($i, 4);
  $spacer-map: map.merge($spacer-map, ($i: $spacer * $val));
}
$spacers: $spacer-map;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $font-size-low-base-1,
  8: $font-size-low-base-2,
);


$custom-colors: (
  "light-green-1": $light-green-1,
  "light-green-2": $light-green-2,
  "custom-black-1": $custom-black-1,
);
$theme-colors: map.merge($theme-colors, $custom-colors);

// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
//@use "bootstrap/scss/maps" as *;
//@use "bootstrap/scss/mixins" as *;
//@use "bootstrap/scss/root" as *;

// 6. Optionally include any other parts as needed
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/card";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/images";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/toasts";

@import "bootstrap/scss/close";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/forms";
//@use "bootstrap/scss/utilities" as *;

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";
//@use "bootstrap/scss/utilities/api" as *;



// Add additional custom code here


// Typography - display-n classes
@each $breakpoint in map-keys($grid-breakpoints) {
  @each $size, $length in $display-font-sizes {
    @include media-breakpoint-up($breakpoint) {
      .display-#{$breakpoint}-#{$size} {font-size: $length !important;}
    }
  }
}

// Typography - custom font classes
@each $display, $font-size in $custom-font-sizes-one {
  .fnt-#{$display} {
    @include font-size($font-size);
    font-family: $display-font-family;
    font-style: $display-font-style;
    font-weight: $display-font-weight;
    line-height: $display-line-height;
  }
}
@each $breakpoint in map-keys($grid-breakpoints) {
  @each $display, $font-size in $custom-font-sizes-one {
    @include media-breakpoint-up($breakpoint) {
      .fnt-#{$breakpoint}-#{$display} {
        @include font-size($font-size);
        font-family: $display-font-family;
        font-style: $display-font-style;
        font-weight: $display-font-weight;
        line-height: $display-line-height;
      }
    }
  }
}


//$j-text-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);
//$utilities: map.merge(
//    $utilities,
//    (
//      "color": map.merge(
//          map-get($utilities, "color"),
//          (
//            values: map.merge(
//                map-get(map-get($utilities, "color"), "values"),
//                  (
//                    $j-text-colors
//                  ),
//            ),
//          ),
//      ),
//    )
//);

@each $i, $width in $percentSiz-map {
  .start-#{$i}pct {
    left: $width;
  }
  .end-#{$i}pct {
    right: $width;
  }
  .top-#{$i}pct {
    top: $width;
  }
  .bottom-#{$i}pct {
    bottom: $width;
  }
};

@each $i, $sizVal in $pxSiz-map {
  .fix-wpx-#{$i} {
    min-width: $sizVal;
    max-width: $sizVal;
  }

  .fix-hpx-#{$i} {
    min-height: $sizVal;
    max-height: $sizVal;
  }

  .fix-size-#{$i}px {
    min-height: $sizVal;
    max-height: $sizVal;
    min-width: $sizVal;
    max-width: $sizVal;
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      .fix-wpx-#{$breakpoint}-#{$i} {
        min-width: $sizVal !important;
        max-width: $sizVal !important;
      }

      .fix-hpx-#{$breakpoint}-#{$i} {
        min-height: $sizVal !important;
        max-height: $sizVal !important;
      }

      .fix-size-#{$breakpoint}-#{$i}px {
        min-height: $sizVal !important;
        max-height: $sizVal !important;
        min-width: $sizVal !important;
        max-width: $sizVal !important;
      }
    }
  }
};

@each $val, $remVal in $remSiz-map {
  @if $val == '0' {
    $remVal: 0;
  }

  .pad-#{$val}rem {
    padding: $remVal;
  }
  .pad-y-#{$val}rem {
    //padding-block: $remVal;
    padding-top: $remVal;
    padding-bottom: $remVal;
  }
  .pad-x-#{$val}rem {
    //padding-inline: $remVal;
    padding-left: $remVal;
    padding-right: $remVal;
  }
  .pad-b-#{$val}rem {
    padding-bottom: $remVal;
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      .pad-#{$breakpoint}-#{$val}rem {
        padding: $remVal !important;
      }
      .pad-y-#{$breakpoint}-#{$val}rem {
        //padding-block: $remVal !important;
        padding-top: $remVal !important;
        padding-bottom: $remVal !important;
      }
      .pad-x-#{$breakpoint}-#{$val}rem {
        //padding-inline: $remVal !important;
        padding-left: $remVal !important;
        padding-right: $remVal !important;
      }
      .pad-b-#{$breakpoint}-#{$val}rem {
        padding-bottom: $remVal !important;
      }

    }
  }
}

//@each $breakpoint in map-keys($grid-breakpoints) {
//  @include media-breakpoint-up($breakpoint) {
//    .py-#{$breakpoint}-auto {
//      padding-inline: 'auto' !important;
//    }
//  }
//}

@import "./font1";
@import "./font2";

:root {
  --bs-body-font-family: 'Montserrat', sans-serif;
  --box-shadow-style-1: 0 0 0 8px $light-green-2;
  --box-shadow-style-2: rgba(0, 0, 0, 0.35) 2.95px 2.95px 2.6px;
  --box-shadow-style-3: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;
}

.bg-dev {
  //background-color: #F8F9FA !important;
}
.outer-container {
  max-width: 1440px;
  //@extend .invisible;

  @extend .pad-x-1rem;
  @extend .pad-x-sm-1\.5rem;
  @extend .pad-x-lg-5\.875rem;
}
body.calculate-all .outer-container {
  @extend .pad-x-lg-1\.875rem;
  @extend .pad-x-xl-4\.875rem;
  @extend .pad-x-xxl-5\.875rem;
}
.outer-container.content-wrapper {
  @extend .pt-3;
}

.external-outer-container {
  @extend .container-fluid;
  @extend .pad-x-1rem;
  @extend .pad-x-sm-1\.5rem;
  @extend .pad-x-lg-4\.875rem;
  max-width: 100% !important;
  margin-inline: 0 !important;
}

@media (min-width: 992px) and (max-width: 1279.98px) {
  .top-wrapper > .hero-section > .hero-content h1 {
    font-size: 44px;
  }
  .top-wrapper > .hero-section > .hero-content ul {
    font-size: 23px;
  }
}

@media (min-width: 992px) and (max-width: 1099.98px) {
  .top-wrapper > .hero-section {
    padding-bottom: 2rem;
  }
}

.job-grid:last-child {
  margin-right: auto;
}
.job-grid .job-card {
  //min-width: 220px;
  //max-width: 265px;
  //max-width: 335px;
  flex: 1 0 100%;
  min-width: 100%;
}
.job-grid .job-card-extra {
  min-width: 32.5%;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
@media screen and (min-width: 500px) and (max-width: 767.98px) {
  .job-grid .job-card {
    flex: 0 1 100%;
    min-width: 48%;
    max-width: 48%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1351.98px) {
  .job-grid .job-card {
    flex: 1 0 250px;
    min-width: 250px;
    max-width: none;
  }
}
@media screen and ( min-width: 1352px) {
  .job-grid .job-card {
    flex: 1 0 278px;
    min-width: 278px;
    max-width: none;
  }
}

.footer-section {
  @extend .container-fluid;
  @extend .pad-x-1rem;
  @extend .pad-x-sm-1\.5rem;
  @extend .pad-x-md-2\.5rem;
  @extend .pad-x-xl-5rem;
  max-width: 100% !important;
  margin-inline: 0 !important;
}
.footer-section .list-group-item {
  @extend .ps-0;
  color: inherit !important;
}

.content-wrapper {
  background-color: white;
}


.is-circular {
  text-align: center;
  border-radius: 50%;
}

.btn-light-green-1 {
  @extend .rounded;
  @extend .fnt-4;
  @extend .fw-medium;
  border-radius: 0.5rem !important;
  color: white;
  line-height: 24px;
  padding-block: 0.3rem !important;
  padding-inline: 0.5rem !important;
}
@include media-breakpoint-up(sm) {
  .btn-light-green-1 {
    padding-block: 0.6rem !important;
    padding-inline: 0.95rem !important;
  }
}
@include media-breakpoint-up(md) {
  .btn-light-green-1 {
    padding-block: 0.375rem !important;
    padding-inline: 1.65rem !important;
  }
}

.btn-light-green-1.btn-large {
  @extend .btn-light-green-1;
  border-radius: 0.75rem !important;
  padding-block: 0.9rem !important;
  padding-inline: 1.5rem !important;
}
@include media-breakpoint-up(md) {
  .btn-light-green-1.btn-large {
    padding-block: 1.25rem !important;
    padding-inline: 3rem !important;
  }
}
.btn-light-green-1.btn-medium {
  @extend .btn-light-green-1;
  border-radius: 0.75rem !important;
  padding-block: 1.25rem !important;
  padding-inline: 2rem !important;
}

.service-card {
  @extend .w-100;
  @extend .wpct-md-47;
  @extend .wpct-lg-31;
  @extend .wpct-xl-23;
  @extend .p-3;
  @extend .pad-lg-0\.875rem;
  @extend .p-xl-4;
  @extend .bg-light-green-2;
  @extend .overflow-hidden;
  @extend .rounded;
  @extend .rounded-4;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-start;
  @extend .align-items-center;
  @extend .gap-3;
}
// special media query
@media (min-width: 1200px) and (max-width: 1269.98px) {
  .service-card {
    padding: 1rem !important;
  }
  .service-card-title {
    padding-inline: 2rem !important;
  }
}
.service-card:hover {
  @extend .bg-light-green-1;
  @extend .text-light;
  box-shadow: var(--box-shadow-style-2);
}
.service-card:hover > .services-icon-wrapper {
  @extend .bg-light;
}
.service-card:hover > .services-icon-wrapper > .service-icon {
  filter: invert(64%) sepia(57%) saturate(549%) hue-rotate(61deg) brightness(93%) contrast(88%);
}
.service-card-title {
  @extend .fw-bold;
  @extend .fnt-4;
  @extend .text-center;
}

.custom-popover {
  transform: none !important;
  top: 20rem !important;
  left: 1.5rem !important;
  z-index: 1 !important;
}
@include media-breakpoint-up(sm) {
  .custom-popover {
    top: 27rem !important;
  }
}
@include media-breakpoint-up(md) {
  .custom-popover {
    top: 33rem !important;
  }
}
@include media-breakpoint-up(lg) {
  .custom-popover {
    top: 2.8rem !important;
    left: 1.25rem !important;
  }
}
@include media-breakpoint-up(xl) {
  .custom-popover {
    left: -15rem !important;
  }
}

.custom-popover > .popover-header {
  display: none;
}
//.custom-popover > .popover-arrow {
//  display: none;
//}

.ring1 {
  background-color: $light-green-1;
  box-shadow: var(--box-shadow-style-1);
}

.accordion {
  --bs-accordion-active-bg: #ffffff;
  --bs-accordion-active-color: #000000;
  --bs-accordion-btn-focus-box-shadow: none;
}
.accordion-item-style-1 {
  @extend .mb-3;
}
.accordion-item-style-1:last-child {
  @extend .mb-0;
}
.accordion-button::after {
  background-image: url("../assets/images/icons/PlusSign.svg");
  transform: scale(1.75);
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../assets/images/icons/MinusSign.svg");
  transform: scale(1.75);
}

.job-card {
  //@extend .wpct-47;
  //@extend .wpct-lg-31;
  //@extend .max-wpx-lg-265;
  //@extend .max-wpx-xxl-294;
  @extend .px-2;
  @extend .px-sm-4;
  @extend .py-3;
  @extend .bg-light-green-2;
  @extend .rounded;
  @extend .rounded-4;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-start;
  @extend .align-items-start;
  @extend .row-gap-2;
  @extend .row-gap-xxl-3;
  @extend .border-0;
  @extend .border-danger;
}
.job-title {
  @extend .fw-bold;
  @extend .mb-0;
}
.job-description {
  @extend .fw-medium;
  @extend .mb-0;
}
a.calculate-btn {
  @extend .btn;
  @extend .btn-light-green-1;
  @extend .mt-auto;
}
a.calculate-btn > span {
  @extend .fnt-5;
  @extend .fw-semibold;
}
a.cta-button:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
a.calculate-btn:hover, a.cta-button:hover {
  opacity: 0.85;
  //box-shadow: 8px 8px 10px -7px rgba(0,0,0,0.75);
  box-shadow: var(--box-shadow-style-2);
}

.approach-step-title {
  @extend .fnt-3;
  @extend .fw-bold;
}

.list-group-footer .list-group-item {
  @extend .mb-0;
  //@extend .mb-sm-3;
  @extend .pb-0;
  @extend .pb-sm-1;
  @extend .pb-lg-2;
}

// calculate page hide-show logic

.d-none-not-imp {
  //display: none;
}

.disabled-div {
  pointer-events: none;
  opacity: 0.5;
  /* Optional: Add additional styles to convey disabled state */
  background-color: #f2f2f2;
  color: #999;
  cursor: not-allowed;
}

.float-none {
  float: none;
}

.clear-none {
  clear: none;
}

.clear-start {
  clear: left;
}

.clear-end {
  clear: right;
}

.d-flow-root {
  display: flow-root;
}

//.list-group .list-group-item .form-check.form-check-inline {
//  margin-right: 0 !important;
//  padding-left: 0 !important;
//  padding-right: 0 !important;
//}

.form-check-label {
  cursor: pointer;
}
.form-check.form-check-inline .form-check-label {
  margin-top: 0.13rem;
  //margin-left: 0.5rem;
}
@media screen and (min-width: 768px) {
  .form-check.form-check-inline .form-check-label {
    margin-top: 0.18rem;
  }
}

//.form-check.form-check-inline input.form-check-input {
//  margin-left: 0;
//}

//.form-check.form-check-inline:hover input.form-check-input {
//  background-color: yellow;
//}
//.form-check.form-check-inline:hover input.form-check-input:checked {
//  --bs-form-check-bg-image: url("../assets/images/icons/check-mark-hover.svg");
//}
//.list-group-item:hover {
//  //background-color: lightgoldenrodyellow;
//  //background-color: ivory;
//  background-color: #FFFFFA;
//}

.quote-page-card.card {
  box-shadow: var(--box-shadow-style-3);
}

.quantities-container .quote-page-card {
  @extend .mb-8;
  height: max-content;
}

.form-check-input:checked {
  background-color: $light-green-1;
  border-color: $light-green-1;
}

input[type=checkbox] {
  accent-color: green;
}

.not-all-types > .job-types-container,
.not-all-types:not(.bathroom-job) > .bathroom-types-container,
.not-all-types:not(.kitchen-job) > .kitchen-types-container,
.not-all-types:not(.wall-job) > .walls-types-container,
.not-all-types:not(.floor-job) > .floors-types-container,
.not-all-types:not(.ceiling-job) > .ceiling-types-container,
.not-all-types:not(.extension-job) > .extension-types-container,
.not-all-types:not(.loft-conver-job) > .loft-types-container
{
  display: none;
}

.not-all-types.wall-job > .walls-types-container,
.not-all-types.floor-job > .floors-types-container,
.not-all-types.ceiling-job > .ceiling-types-container,
.not-all-types.bathroom-job > .bathroom-types-container,
.not-all-types.kitchen-job > .kitchen-types-container,
.not-all-types.extension-job > .extension-types-container,
.not-all-types.loft-conver-job > .loft-types-container,
//.not-all-types.full-house-job > .full-types-container,
.not-all-types > .duration-selection-container,
.not-all-types > .data-submit-container
{
  display: block;
}

.not-all-types.wall-job > .walls-types-container .list-group,
.not-all-types.floor-job > .floors-types-container .list-group,
.not-all-types.ceiling-job > .ceiling-types-container .list-group,
.not-all-types.bathroom-job > .bathroom-types-container .list-group,
.not-all-types.kitchen-job > .kitchen-types-container .list-group,
.not-all-types.extension-job > .extension-types-container .list-group,
.not-all-types.loft-conver-job > .loft-types-container .list-group
{
  @extend .flex-row;
  @extend .justify-content-between;
  //@extend .align-items-center;
  @extend .align-items-stretch;
  @extend .flex-wrap;
  @extend .gap-1;
}

.not-all-types.wall-job > .walls-types-container .list-group .list-group-item,
.not-all-types.floor-job > .floors-types-container .list-group .list-group-item,
.not-all-types.ceiling-job > .ceiling-types-container .list-group .list-group-item,
.not-all-types.bathroom-job > .bathroom-types-container .list-group .list-group-item,
.not-all-types.kitchen-job > .kitchen-types-container .list-group .list-group-item,
.not-all-types.extension-job > .extension-types-container .list-group .list-group-item,
.not-all-types.loft-conver-job > .loft-types-container .list-group .list-group-item
{
  @extend .w-100;
  @extend .wpct-sm-47;
  @extend .wpct-md-30;
  @extend .px-1;
}

.not-all-types.wall-job > .walls-types-container,
.not-all-types.floor-job > .floors-types-container,
.not-all-types.ceiling-job > .ceiling-types-container,
.not-all-types.bathroom-job > .bathroom-types-container,
.not-all-types.kitchen-job > .kitchen-types-container,
.not-all-types.extension-job > .extension-types-container,
.not-all-types.loft-conver-job > .loft-types-container,
.not-all-types.full-house-job > .full-types-container
{
  width: 100% !important;
}

input[type=number] {
  border-radius: 4px;
  box-shadow: none !important;
}
input[type=number]:focus-visible {
  //outline: $light-green-1 solid 1px;
  outline: none !important;
  box-shadow: none !important;
}

input[type=number]:disabled {
  cursor: not-allowed;
  background-color: #EBEBE4;
  color: $custom-black-1;
  //background-color: #ccc;
  //color: #666;
  opacity: 0.5;
}

.list-group .list-group-item {
  @extend .fnt-6;
  @extend .fnt-md-5;
}
//.list-group .list-group-item .form-check.form-check-inline {
//  @extend .pad-x-1\.5rem;
//  @extend .pad-x-sm-0\.5rem;
//  @extend .pad-x-md-1rem;
//  @extend .pad-x-lg-1\.5rem;
//}

//.list-group.list-group-horiz {
//  //@extend .list-group-horizontal;
//  //@extend .list-group-flush;
//  @extend .flex-column;
//  @extend .flex-lg-row;
//  @extend .justify-content-lg-between;
//  @extend .align-items-lg-center;
//  @extend .flex-wrap;
//  @extend .gap-1;
//}

//.list-group.list-group-horiz .list-group-item {
//  @extend .w-100;
//  @extend .wpct-lg-48;
//  @extend .px-1;
//}
//.list-group.list-group-horiz .list-group-item:not(.has-no-quantity) .form-check.form-check-inline {
//  @extend .wpct-64;
//  @extend .wpct-sm-50;
//  @extend .wpct-lg-55;
//  @extend .wpct-xl-64;
//  @extend .wpct-xxl-71;
//}
//.list-group.list-group-horiz .list-group-item .d-inline-block {
//  //@extend .wpx-67;
//  @extend .min-wpx-72;
//}

.list-group.list-group-horizont,
.list-group.list-group-horiz,
.list-group.list-group-vert {
  @extend .list-group-flush;
  @extend .gap-1;
}

//.list-group.list-group-horizont {
//  @extend .list-group-horizontal;
//  //@extend .list-group-flush;
//  //@extend .flex-row;
//  //@extend .justify-content-between;
//  //@extend .align-items-center;
//  //@extend .flex-wrap;
//  //@extend .gap-1;
//}

.list-group.list-group-horizont .list-group-item,
.list-group.list-group-horiz .list-group-item,
.list-group.list-group-vert .list-group-item {
  //@extend .list-group-horizontal;
  //@extend .list-group-flush;
  @extend .flex-fill;
  @extend .d-inline-flex;
  @extend .flex-row;
  @extend .justify-content-between;
  @extend .border;
  @extend .border-secondary-subtle;
  @extend .rounded;
  @extend .rounded-2;
  @extend .w-100;
  //@extend .px-1;
}
.list-group.list-group-horizont .list-group-item {
  @extend .wpct-sm-48;
}
@include media-breakpoint-up(lg) {
  .list-group.list-group-horizont .list-group-item {
    max-width: 50%;
  }
}
@include media-breakpoint-up(xl) {
  .list-group.list-group-horizont .list-group-item {
    max-width: 33%;
  }
}

//.list-group.list-group-horizont .list-group-item input[type=number] {
//  padding-left: 0.25rem;
//}

.list-group.list-group-horizont .list-group-item .form-check.form-check-inline,
.list-group.list-group-horizont .list-group-item .d-inline-block,
.list-group.list-group-horiz .list-group-item .form-check.form-check-inline,
.list-group.list-group-horiz .list-group-item .d-inline-block,
.list-group.list-group-vert .list-group-item .form-check.form-check-inline,
.list-group.list-group-vert .list-group-item .d-inline-block {
  @extend .h-max;
  @extend .my-auto;
}

.list-group.list-group-horizont .list-group-item:not(.has-no-quantity) .form-check.form-check-inline,
.list-group.list-group-horiz .list-group-item:not(.has-no-quantity) .form-check.form-check-inline,
.list-group.list-group-vert .list-group-item:not(.has-no-quantity) .form-check.form-check-inline {
  //@extend .wpct-67;
  @extend .wpct-64;
}

.list-group.list-group-horizont .list-group-item .d-inline-block,
.list-group.list-group-horiz .list-group-item .d-inline-block,
.list-group.list-group-vert .list-group-item .d-inline-block {
  //@extend .wpct-30;
  @extend .min-wpx-72;
}

.list-group.list-group-horizont.has-sqm-units .list-group-item:not(.has-no-quantity) .form-check.form-check-inline,
.list-group.list-group-horiz.has-sqm-units .list-group-item:not(.has-no-quantity) .form-check.form-check-inline,
.list-group.list-group-vert.has-sqm-units .list-group-item:not(.has-no-quantity) .form-check.form-check-inline {
  @extend .wpct-64;
  @extend .wpct-sm-50;
  @extend .wpct-lg-55;
  @extend .wpct-xl-64;
  @extend .wpct-xxl-71;
}

.list-group.list-group-horizont.has-sqm-units .list-group-item .d-inline-block,
.list-group.list-group-horiz.has-sqm-units .list-group-item .d-inline-block,
.list-group.list-group-vert.has-sqm-units .list-group-item .d-inline-block {
  //@extend .wpct-37;
  //@extend .wpx-90;
  @extend .wpx-92;
  @extend .min-wpx-92;
  //@extend .wpx-104;
}

ul.list-group-dashed {
  list-style-type: none;
}
ul.list-group-dashed li::before {
  content: "– ";
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 1051; /* Above Bootstrap's modal overlay */

  /* Other styles */
  display: none; /* Hidden by default */
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.overlay.active {
  display: block; /* Show overlay */
  opacity: 0.8;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes blink {
  1%, 3% {opacity: 0;}
  2%, 4% {opacity: 1;}
}

.blinking-div {
  animation: blink 10s linear infinite;
  border: 1px solid red;
}

.toast-container {
  @extend .position-fixed;
  @extend .bottom-0;
  @extend .end-0;
  @extend .p-4;
  @extend .hpx-300;
  background-color: transparent;
  //border: 1px solid red;
}

/* remove number input's arrows */
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.footer-contact-links {
  @extend .text-light;
  @extend .text-decoration-none;
}

.footer-contact-links:hover {
  color: rgba(var(--bs-link-hover-color-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration: underline !important;;
}

/* preloading of review images */
#preloadedImages, #loadingSpinner
{
  width: 0;
  height: 0;
  display: inline;
  background-image: url("assets/images/pics/rvw-20191229_111014.jpg");
  background-image: url("assets/images/pics/rvw-AAWF9035.JPG");
  background-image: url("assets/images/pics/rvw-DPFW9030.JPG");
  background-image: url("assets/images/pics/rvw-FSYG1495.JPG");
  background-image: url("assets/images/pics/rvw-IMG_0817.JPG");
  background-image: url("assets/images/pics/rvw-IMG_1191.JPG");
  background-image: url("assets/images/pics/rvw-IMG_1379.JPG");
  background-image: url("assets/images/pics/rvw-IMG_2526.JPG");
  background-image: url("assets/images/pics/rvw-IMG_3290.JPG");
  background-image: url("assets/images/pics/rvw-IMG_4938.JPG");
  background-image: url("assets/images/pics/rvw-OSVJE1220.JPG");
  background-image: url("assets/images/pics/rvw-xtra-1.png");
  background-image: none;
}

input {

  line-height: normal; // Ensures height remains stable
  -webkit-appearance: none; // Disables default iOS styles
  appearance: none;
  padding: 8px;
  
}

